:root {
    --selective-yellow: #fcba04ff;
    --turkey-red: #a50104ff;
    --rosewood: #590004ff;
    --black-bean: #250001ff;
    --white-smoke: #f3f3f3ff;
}

body {
    font-family: 'Merriweather', georgia, serif;
    line-height: 1.6;
    max-width: 40em;
    margin: 2em auto 1em;
    padding: 0 2em;
    background-color: var(--white-smoke);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a50104' fill-opacity='0.10' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: var(--black-bean);
    font-size: 20px;
}

a, a:visited {
    color: var(--turkey-red);
    text-decoration: none;
}

a:hover {
    color: var(--rosewood);
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
}

nav a, nav a:visited {
    background-color: transparent;
    border: 1px solid var(--rosewood);
    border-radius: 10px;
    color: var(--rosewood);
    padding: 5px 10px; 
    transition: all 0.3s;
}

nav a:hover {
    background-color: var(--rosewood);
    color: var(--white-smoke);
}

@media (max-width: 480px) {
    nav a {
        padding: 5px;
    }
}

blockquote {
    font-style: italic;
    margin: 1.5em 1vw;
    padding: 0 1vw;
    color: #555;
    border-top: 1px #999 solid;
    border-bottom: 1px #999 solid;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
}

h1 {
    color: var(--rosewood);
}

h1 a {
    color: var(--rosewood);
}

h1 a:visited {
    color: #685c82;
}

h2 {
    font-size: 150%;
    line-height: 1;
    margin: 1em 0;
    color: var(--selective-yellow);
}

h3 {
    font-size: 110%;
    line-height: 1.3636363636;
    margin: 1.3636363636em 0;
    color: var(--selective-yellow);
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-variant: small-caps;
}

h4 {
    font-size: 90%;
    font-weight: bold;
    line-height: 1.666666667;
    margin: 1.666666667em 0;
}

h5, caption {
    font-style: italic;
    margin: 1.5em 0;
}

caption {
    text-align: center;
}

p {
    margin: 1.5em 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    color: var(--selective-yellow);
    letter-spacing: 0.1em;
    text-transform: lowercase;
    font-variant: small-caps;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    clear: both;
    padding-top: 3em;
    text-align: center;
    font-size: 85%;
    font-style: italic;
    color: #6c5a5a;
}